.top_line {
	display: none;
}
.search {
	margin: 0;
	padding: 10px 0 0;
}
#search {
	position: absolute;
	top: 9px;
	right: 0;
}

.time_contact p {
	font: 17px Arial, Tahoma, Verdana;
	margin: 5px 30px 0 20px;
}
.time_contact p span {
	font: bold 17px Arial, Tahoma, Verdana;
}
.contact {
	float: left;
}
.work_time {
	float: left;
	margin: 5px 0 0;
}

.top_menu {
	top: 105px;
}
.top_menu li {
	float: left;
}
.top_menu li a {
	display: block;
}
.top_menu ul li p {
	margin: 0 10px;
	position: relative;
	top: -5px;
}

.authform {
	z-index: 120 !important;
}
#cat_top_menu {
	position: relative;
	z-index: 50px !important;
}
#cat_top_menu li.main_cat {
	float: left;
	height: 27px;
}
#cat_top_menu li.main_cat a {
	display: block;
	width: 115px;
	padding: 6px 0 0;
	position: relative !important;
	height: 21px;
	z-index: 50 !important;
}
.main_cat ul {
	position: absolute !important;
	z-index: 50 !important;
}
.main_cat ul li a {
	position: absolute !important;
	z-index: 50 !important;
	width: 305px !important;
}

.product_grid article, .product_line article {
	height: 220px;
	position: relative;
	z-index: 0 !important;
}

.panel_offer {
  position: relative;
  right: 7px;
}
#products {
	position: relative;
	right: 7px;
}

.product_grid {
	margin: 0 0 0 -10px;
}

.img_new {
	border: 1px solid #ccc;
  left: 10px !important;
  position: absolute !important;
  top: 75px !important;
}

.product_grid article .product_img {
	height: 60px !important;
}

.continue_shopping a {
	position: relative;
	left: -400px;
}

#rightbar {
  width: 212px;
	position: relative;
	z-index: -1 !important;
}

footer {
	margin-top: 0;
}
#news_submit {
	position: relative;
	top: -70px;
	right: 0;
}